table tr {
    border-bottom: 1px solid #737373;
}

.t_head th {
    font-weight: 500 !important;
}

table tr {
    font-size: 12px;
}
.table_options{
  display: flex;
}
.table_options .order_search_btn{
  border: 1px solid #D9D9D9
}

.order_search_btn span {
    color: #D9D9D9;
}

.sort_input {
    align-items: center;
    display: flex;
    color: #D9D9D9;
    width: 69px !important;
    padding-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.order_search_btn {
    align-items: center;
    display: flex;
    color: #D9D9D9;
    width: 250px;
    padding-left: 10px;
    margin-right: 10px;
}

.sort_input {
    width: 120px;
}

.active_deactive button {
    font-weight: 400;
    font-size: 12px;
}
/* Default background gradient for the switch */
.form-check.form-switch {
    position: relative;
    display: inline-block;
    width: 50px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
  }
  
  /* Default background gradient for the switch */
  .form-check-input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  /* Default background gradient for the switch */
  .form-check-label {
    position: relative;
    display: block;
    width: 38px;
    height: 19px;
    border: 1px solid #737373;
    background: linear-gradient(90deg, white 0%, white 50%, #D9D9D9 50%, #D9D9D9 100%);
    border-radius: 15px; /* Adjust border-radius to make it round */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  /* Toggle circle */
  .form-check-label::before {
    content: '';
    position: absolute;
    left: 0px;
    top: -1px;
    width: 24px;
    height: 19px;
    background-color: #737373; /* Color of the circle */
    border-radius: 50%; /* Make it a circle */
    transition: left 0.3s ease; /* Smooth transition */
  }
  
  /* Change toggle circle position when active */
  .form-check-input[type="checkbox"]:checked + .form-check-label::before {
    left: 16px; /* Adjust position to move circle to the right */
    background-color: #F8932D ; /* Color of the circle */
  }

  @media (max-width:767px) {
    .table_options{
      display: block !important;
    }
  }