.droducts_col_title {
    color: var(--color-darkslategray);
    font-family: var(--primary-font);
    font-size: 32px;
    font-style: normal;
   
    font-weight: 600;
    line-height: normal;
    margin-bottom: -75px;
  }
  .abb{
        position: relative;
          top: 100%;
  }
  .cir{
    height: 10px;
    width: 10px;
    background-color: #515151;
    border-radius: 50%;

  }
    .droducts_col_p {
      width: 50px;
      
    }
            
             .plus-cancel {
               box-shadow: 0 0 1em #777;
               width: 2em;
               height: 2em;
               border-radius: 50%;
               background: white;
               cursor: pointer;
             }
      
              .cancel{
                text-align: center;
                font-size: 1.6em;
                color: #548687;
                margin-left: 0.4em;
                margin-top: -0.1em;
              }

           

                             .plus-plus {
                               box-shadow: 0 0 1em #777;
                               width: 2em;
                               height: 2em;
                               border-radius: 50%;
                               background: white;
                               cursor: pointer;
                             }
              
                           .plus{
                                text-align: center;
                                  font-size: 1.5em;
                                  color: #548687;
                                  margin-left: 0.3em;
                                  margin-top: -0.1em;
                           }
             
  .untitle_title{
    /* margin-top: -10px;
    margin: -10px 0px 0px 1.5rem; */
    margin-left: 25px !important;
  }
  .upload_image {
    width: 64px;
    height: 64px;
   border-radius: 5px;
    background: #F2F2F2;
    background-blend-mode: multiply;
    /* position: relative; Add position relative to the container */
}
.uplaod_p{
  display: flex;
  justify-content: center;
}
.upload_image_large {
  width: 100px;
  height: 100px;
   border-radius: 5px;
  background: #F2F2F2;
  background-blend-mode: multiply;
}
.upload_image_large p{
 display: flex;
 justify-content: center;
}

.upload_image img {
  position: relative;
    width: 33px;
    height: 46px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.upload_image .dummyImage {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.p-head{
  color: #2D2D2D;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.color_div{
  
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right:10px;
    margin-top: 10px;
 
}


/* /////////////// */
.image-text {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 20px; 
  z-index: 2;
}
.border_div{
height: .5px;
background-color: rgb(198, 196, 196);
width: 100%;
margin: 10px 0px 10px -10px;
}

/* Your existing styles can continue here */
